<!DOCTYPE html>
<html>
<head>
  <title>AI Resume Platform</title>
</head>
<body>
  <h1>AI Resume Platform</h1>

  <label>Select Feature:</label>
  <select id="feature">
    <option value="analyze">Resume Analyzer</option>
    <option value="ats">ATS Score</option>
    <option value="rewrite">Resume Rewrite</option>
  </select>

  <br /><br />

  <form id="resumeForm" method="post" enctype="multipart/form-data">
    <input type="file" name="file" required />

    <br /><br />

    <div id="jdSection" class="extra-feature" style="display:none;">
      <textarea name="jobDescription" rows="8" cols="60"
        placeholder="Paste Job Description here"></textarea>
    </div>

    <br /><br />

    <select id="rewriteType" name="rewriteType" class="extra-feature" style="display: none;">
      <option value="professional">Professional</option>
      <option value="concise">Concise</option>
      <option value="impact">Impact-Driven</option>
      <option value="technical">More Technical</option>
    </select>
    <br />
    <button type="submit">Submit</button>
  </form>

  <script>
    const featureConfigs = {
      analyze:{
        action: '/resume/analyze',
        extraFields:[]
      },
      ats:{
        action: '/resume/atsScore',
        extraFields:['jdSection']
      },
      rewrite:{
        action: '/resume/resumeRewrite',
        extraFields:['rewriteType']
      }
    };

    document.getElementById('feature').addEventListener('change', function () {
      const selectedConfig = this.value;
      const extraElement = featureConfigs[selectedConfig];

      //form actions.
      document.getElementById('resumeForm').action = extraElement.action;
      //To hide the extra fields.
      document.querySelectorAll('.extra-feature').forEach(el =>{
        el.style.display = 'none';
      });

      //show the required feature
      extraElement.extraFields.forEach(id =>{
        document.getElementById(id).style.display = 'block';
      });
    });
  </script>
</body>
</html>